body {
  padding: 10px;
}

img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;

  border-radius: 50%;
}

.user-container {
  display: flex;
  padding: 10px;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}



.user-list {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 10px;
  margin-right: 10px;
}


.statistic-list {
  display: block !important;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 10px;
  margin-right: 10px;
}



